<div class="row">
    <div class="col-12 text-center">
      <h1 class="pri-header">All Courses</h1>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let course of allCourses">
        <div class="card yogaCard">
          <figure>
            <img [src]="course.courseImg" alt="" />
            <figcaption class="p-4">
              <h4>{{ course.courseName }}</h4>
              <p class="description m-0">
                {{ course.courseDescription }}
              </p>
            </figcaption>
          </figure>
          <div class="card-footer d-flex justify-content-between">
            <button
              class="btn-lg btn-block"
              mat-raised-button
              color="primary"
            >
              Add Course
            </button>
          
          </div>
        </div>
      </div>
     </div>
  </div>
  