<section class="section p-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="pri-heading">
                    About us
                </h2>
                <h3 class="sec-heading">
                    Welcome
                </h3>
                <p class="para">
                    Strengthen your body & clear your mind, find peace at our yoga studio! Experienced instructors guide
                    you on a journey of transformation with mindful movement & breathing techniques. Welcome all levels
                    of practitioners, breathe, balance & become empowered! Join us today.
                </p>
            </div>
            <div class="col-12 m-4">
                <img class="img-fluid" src="https://img2.hocoos.com/cache/img-pack/234/w-1112/h-480/ww-1112/wh-480/img-pack/234/pexels-cottonbro-4324101.jpg" alt="">
            </div>
            <div class="col-12 text-center">
                <button class="mr-3" 
                mat-raised-button 
                color="primary"
                routerLink="/teacherDashboard">Learn More</button>
                <button class="btn-lg" mat-stroked-button color="primary">Book Now</button>
            </div>
        </div>
    </div>
</section>