.mat-button, .mat-icon-button, .mat-stroked-button {
    color: inherit !important;
    background: rgba(0,0,0,0);
}

mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row{
    display: flex;
    justify-content: space-between;
}