a.mat-toolbar.mat-primary {

    &:hover,
    &:focus {
        color: #fff !important;
    }
}

.mat-toolbar.mat-primary {
    button.mat-focus-indicator.mat-icon-button.mat-button-base {

        &:hover,
        &:focus {
            background: #3f51b5;
            color: #fff !important;
        }
    }


}